.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
     font-size: 28px;
  margin-bottom: 25px;
  cursor: pointer;
  text-decoration: none;
  color: #333; 
  transition: all 0.3s ease;

  &:hover {
    font-size: 32px;
    font-weight: bold;
    color: #007bff; 
    text-decoration: underline;
  }

  &:active {
    color: #0056b3; 
  }


  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
}

@media (max-width: 425px) {
  .category-preview-container {
    .preview {
      grid-template-columns: 1fr;
    }
    .title {
      font-size: 24px;
      text-align: center;
    }
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .category-preview-container {
    .preview {
      grid-template-columns: repeat(2, 1fr);
    }
    .title {
      font-size: 28px;
    }
  }
}


.dark-mode {
  .category-preview-container .title {
    color: #fff;

    &:hover {
      color: #0fff07;
    }
  }
}