.authentication-container {
  display: flex;
  flex-wrap: wrap;               
  gap: 40px;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
  padding: 0 16px;

  @media (min-width: 426px) and (max-width: 768px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }


  @media (min-width: 769px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}