.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 380px;
  margin: 0 auto;

  h2 {
    margin: 10px 0;
  }
  .buttons-container {
    display: flex;
    gap: 12px;
    margin-top: 20px;
    justify-content: space-between;
  }
}

@media (max-width: 425px) {
  .sign-in-container {
    padding: 0 16px;

    .buttons-container {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      justify-content: center;
      margin-top: 20px;
    }
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .sign-in-container {
    padding: 0 24px;

    .buttons-container {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      justify-content: center;
      margin-top: 20px;
    }
  }
}
