.product-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 320px;
  align-items: center;
  position: relative;
  border-radius: 8px;
  transition: transform 0.2s;

  img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    margin-bottom: 5px;
  }

  button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    top: 68%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    transition: opacity 0.3s;
  }

  &:hover {
    img {
      opacity: 0.8;
    }

    button {
      opacity: 0.85;
      display: flex;
    }
  }

  .footer {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 16px;
      color: #333;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .price {
      width: 10%;
      font-weight: 700;
      font-size: 16px;
      color: #e91e63;
    }
  }
}
@media (max-width: 425px) {
  .product-card-container {
    height: 300px;
    flex-direction: column;

    img {
      height: 70%;
    }

    .footer {
      padding: 10px;
      .name {
        font-size: 15px;
      }
      .price {
        font-size: 15px;
      }
    }
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .product-card-container {
    height: 340px;
    flex-direction: column;

    .footer {
      .name {
        font-size: 15.5px;
      }
      .price {
        font-size: 15.5px;
      }
    }
  }
}
