.category-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin: 20px 0 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  color: #333;
}

.category-container {
  display: grid;
  gap: 20px;
  padding: 0 16px;
}

@media (max-width: 425px) {
  .category-container {
    grid-template-columns: 1fr;
  }

  .category-title {
    font-size: 26px;
    margin: 15px 0 25px;
  }
}

@media (min-width: 426px) and (max-width: 649px) {
  .category-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .category-title {
    font-size: 28px;
  }
}


@media (min-width: 650px) and (max-width:769px ){
  .category-container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 50px;
  }

  .category-title {
    font-size: 30px;
    margin-bottom: 25px;
  }
}


@media (min-width: 769px) {
  .category-container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
  }

  .category-title {
    font-size: 38px;
    margin-bottom: 25px;
  }
}